<!-- Modal -->
<div #modalContentContainer class="modal fade" tabindex="-1" #modal>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Aqui será renderizado o componente passado -->
        <ng-template #modalContent></ng-template>
      </div>
    </div>
  </div>
</div>
