<div>
  <!-- Ordenador e Searchbar -->
  <div class="mb-3 d-flex gap-3">
    <select class="form-select w-25" (change)="changeOrder($event)">
      <option value="asc">Order: A-Z</option>
      <option value="desc">Order: Z-A</option>
      <option value="newest" selected>Order: Newest</option>
      <option value="oldest">Order: Oldest</option>
    </select>

    <div class="w-100">
      <app-searchbar (searchChanged)="onSearchChange($event)"></app-searchbar>
    </div>
  </div>

  <!-- Tabela de Clientes -->
  <table class="table">
    <thead >
      <tr >
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Number</th>
        <th scope="col">Status</th>
        <th scope="col" style="max-width: 150px"></th>
      </tr>
    </thead>
    <tbody *ngIf="!isLoading">
      <tr *ngFor="let client of clients" >
        <td>{{ client.name }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.number }}</td>
        <td>{{ client.status }}</td>
        <td>
          <button class="btn">...</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Loading Spinner -->
  <div class="w-100 p-3 justify-content-center d-flex mb-3" *ngIf="isLoading">
    <div class="spinner-border" role="status"></div>
  </div>

  <!-- Paginação -->
  <span class="d-flex justify-content-center">
    <app-pagination
      [hasNext]="!!nextPageUrl"
      [hasPrevious]="!!previousPageUrl"
      (nextPage)="goToNextPage()"
      (previousPage)="goToPreviousPage()">
    </app-pagination>
  </span>
</div>
