<div>
  <div class="mb-3">
    <app-searchbar (searchChanged)="onSearchChange($event)"></app-searchbar>
  </div>
  <table class="table">
    <thead >
      <tr >
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Number</th>
        <th scope="col">Status</th>
        <th scope="col" style="max-width: 150px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{ client.name }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.number }}</td>
        <td>{{ client.status }}</td>
        <td>
          <button class="btn">...</button>
        </td>
      </tr>
    </tbody>
  </table>
  <span class="d-flex justify-content-center">
    <app-pagination
      [hasNext]="!!nextPageUrl"
      [hasPrevious]="!!previousPageUrl"
      (nextPage)="goToNextPage()"
      (previousPage)="goToPreviousPage()">
    </app-pagination>
  </span>
</div>
